<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ride Share App :: Home</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body id="pageCenter">
    <header><h1>Ride Share App</h1></header>
    <nav>
        <a href="#">Home</a>
    </nav>
    <main>
        <h2>Need a Ride?</h2>
        <img class="imageRight" th:src="@{/Images/}" width="350" height="250" alt="">
        <p></p>
    </main>
    <footer>
        &copy; Ride Share App 2026<br>
        <a href="mailto:#">Contact Us</a>
    </footer>
</body>
</html>